<div class="mb-5 fs-1 m-3">
  <h1>Our first View ! 🤯</h1>
</div>


<form action="/answer" data-turbo="false">
  <div class="input-group m-3">
    <input type="text" width="100px" class="form-control" name="question" value="<%= params[:question]%>">
  </div>
  <div class="input-group m-3">
    <button type="submit" class="btn btn-primary">Ask!</button>
  </div>
  <%# <input type="submit" value="Ask!"> %>

</form>
